
<!DOCTYPE html>

<div ng-if="security.isAuthorized('create', base_user)">

<npdc:search-input feed="feed"></npdc:search-input>

</div>


<article>
<br />
&nbsp;&nbsp;&nbsp;<a href="/sighting">[{{'Back' | t}}]</a>
</article>



<div ng-if="security.isAuthorized('create', base_user)">

  <!-- <npdc:search feed="feed"></npdc:search>  -->
<div class="np-primary-control">
<md-button  class="md-fab" ng-if="security.isAuthorized('create', resource.path)" ng-href="{{ resource.newHref() }}">
  <md-tooltip md-direction="top">New</md-tooltip>
  <md-icon>add</md-icon>
</md-button>
</div>


<div class="npdc-search">
  <md-content>

    <section>
      <npdc:loader ng-if="!feed.entries"></npdc:loader>

      <div class="np-layout-list">
        <md-list>
        <!-- added ned link -->
          <md-list-item class="md-2-line" ng-repeat="e in feed.entries" ng-href="{{ e.id }}">

            <img class="md-avatar" ng-src={{icon(e)}} title="ID: {{ e.id }}" >

            <div class="md-list-item-text">
              <h3 class="md-headline">
              <h3>{{ e.total | t }} {{ e.species | t }} <em ng-if="e.habitat">「{{ e.habitat | t }}」</em><em ng-show=!{{e.draft}}>Draft</em>
                </h3>
              </h3>
              <h4>{{ (e.event_date).substring(0,10) }}</h4>
            </div>

          </md-list-item>
        </md-list>
        <md-divider></md-divider>
      </div>

      <div layout-padding>
        <div ng-if="feed.opensearch.totalResults > 0" layout layout-align="space-between center">
          <div style="line-height: 48px;">{{feed.opensearch.totalResults}}
            results, displaying
            {{ feed.entries.length}}</div>
          <div>
            <md-button class="md-raised md-primary" ng-if="showNext()" ng-click="next()">More ...</md-button>
          </div>
        </div>
        <div ng-if="feed.opensearch.totalResults == 0">{{ 'search.no_results' | t}} "{{q()}}"</div>
      </div>
    </section>
  </md-content>
</div>

</div>



<div ng-if="!security.isAuthorized('create', base_user)">
  <div ng-if="check_lang">
  <br /><br />
  <article>
    <nav>
  <ul style="list-style: none;">
 Please log in to view this page.
  Click on the user menu icon in the top right corner. Add your email address and press the "email code" button to get a login account.
</ul>
</nav>
</article>
</div>
<div ng-if="!check_lang">
   <br /><br />
    <article>
    <nav>
  <ul style="list-style: none;">
 Du må logge inn for å få tilgang til denne siden. Det kan du gjøre med å klikke på bruker meny ikonet
  i øvre høyre hjørne. Legg til e-post adressen din og bruk "email code" knappen for å skaffe et engangspassord.
  </ul>
 </nav>
</article>
</div>
</div>



