<div ng-if="check_lang">
<article class="np-padding np-doc" layout>
	<h1 class="">Become an observer</h1>
	</article>
<article>
	<nav>
	<ul style="list-style: none;">
		<li>Report your observations of whales, walruses, seals, and polar bears in the Svalbard area. The reported sightings are actively used in research and monitoring.<br /><br /></li>

		<li>If you are spending time in Svalbard, or planning to do so, we hope you'll consider sending your observations of marine mammals to us.<br /><br /></li>

		<li>The Norwegian Polar Institute thanks the cruise tourist guides and others who have reported their observations over the previous years. We hope you will continue reporting, and look forward to our future collaboration!<br /><br /></li>

		<li>Start by logging in.</li><br />

		<li><a href="/sighting">Back</a></li>
	</ul>
</nav>
</article>
</div>


<div ng-if="!check_lang">
<article class="np-padding np-doc" layout>
	<h1 class="">Start med observasjoner</h1>
	</article>
<article>
	<nav>
	<ul style="list-style: none;">
		<li>Registrer dine observasjoner av hval, hvalross, sel og isbjørn på og rundt Svalbard. Observasjonene brukes aktivt i forsknings- og overvåkingsøyemed. <br /><br /></li>

		<li>Hvis du oppholder deg eller planlegger opphold i Svalbard-området, håper vi du kan ta deg tid til å registrere dine observasjoner av sjøpattedyr.<br /><br /></li>

		<li>Polarinstituttet takker alle cruiseguider og andre som har meldt inn sine sjøpattedyrobservasjoner fra Svalbard de siste årene. Vi håper dere fortsetter med dette, og ser frem til et fortsatt godt samarbeid!<br /><br /></li>

		<li>Start ved å logge inn.</li><br />
		<li><a href="/sighting">Tilbake</a></li>
	</ul>
</nav>
</article>
</div>







