<!DOCTYPE html>
<!-- <npdc:edit-button class="np-primary-control"></npdc:edit-button> -->


<span class="np-primary-control">
  <md-button class="md-fab" ng-if="security.isAuthorized('update', resource.path)" ng-href="db/{{ resource.editHref(document.id) }}">
  <md-tooltip md-direction="top">Edit</md-tooltip>
  <md-icon>edit</md-icon>
  </md-button>
</span>


<npdc:loader ng-if="!document"></npdc:loader>
<leaflet ng-if="document && mapOptions.coverage" options="mapOptions" class="coverage-map"></leaflet>


<div class="np-padding">
  <div ng-if="document" class="np-doc">

   <h3>  {{ 'Marine mammal sightings' | t }} &nbsp;&nbsp;&nbsp;<a href="/sighting/db/">[{{ 'Back' | t }}]</a></h3>

 <h1>
  <span class="md-display-2">{{ document.species | t }} </span><span style={font-size:15%}>
  [{{document.event_date.split('T')[0]}}]</span></h1>


      <section>
      <p ng-if="document.organisation"><md-icon class="md-avatar-icon">person</md-icon> {{ "Observer's name or organisation" | t }}: {{document.organisation}}</p>
      <p ng-if="document.contact_info"><md-icon>business</md-icon> {{ 'Contact information - addess, email etc' | t }}: {{document.contact_info}}</p>
      <p ng-if="document.platform">{{ 'Platforms' | t }}:  {{ document.platform | t }}</p>
      <p ng-if="document.platform_comment">{{ 'Platform comment' | t }}: {{document.platform_comment}}</p>
      <p ng-if="document.start_date" || "document.end_date">{{ 'Dates' | t }}: {{(document.start_date).split('T')[0]}} - {{(document.end_date).split('T')[0]}}</p>
      <p ng-if="document.href"><a ng-href="{{document.href}}"> {{ 'Link to expedition' | t }}</a></p><br />
      </section>

      <section>
        <h3>{{ 'Observation' | t }}</h3>
        <md-divider></md-divider>
        <p ng-if="document.species">{{ 'Species' | t }}: {{document.species | t}}</p>
        <p ng-if="document.habitat">Habitat: {{document.habitat | t}}</p>
        <p ng-if="document.adult_m">{{ 'Number of male adults' | t }}: {{document.adult_m}}</p>
        <p ng-if="document.adult_f">{{ 'Number of female adults' | t }}: {{document.adult_f}}</p>
        <p ng-if="document.adult">{{ 'Number of adults where sex is unknown' | t }}: {{document.adult}}</p>
        <p ng-if="document.sub_adult">{{ 'Number of young adults, not included previously' | t }}: {{document.sub_adult}}</p>
        <p ng-if="document.cub_calf_pup">{{ 'Number of cubs/calfs/pups' | t }}: {{document.cub_calf_pup}}</p>
        <p ng-if="document.unidentified">{{ 'Number of unidentified' | t }}: {{document.unidentified}}</p>
        <p ng-if="document.total">{{ 'Total count' | t }}: {{document.total}}</p>
        <p ng-if="document.bear_cubs">{{ 'How old were the polar bear cubs?' | t }} {{document.bear_cubs}}</p>
        <p ng-if="document.polar_bear_condition">{{ 'What was the condition of the polar bear(s)?' | t }} {{document.polar_bear_condition}}</p>
        <p ng-if="document.polar_bear_den">{{ 'Did you see a polar bear den?' | t }} {{document.polar_bear_den | t}}</p>
        <p ng-if="document.dead_alive">{{ 'Observed dead or alive?' | t }} {{document.dead_alive | t}}</p>
        <p ng-if="document.occurrence_remarks">{{ 'Occurrence remarks' | t }}: {{document.occurrence_remarks}}</p>
        <br />
      </section>

      <section>
        <h3>{{ 'Time/location' | t }}</h3>
        <md-divider></md-divider>
        <p ng-if="document.event_date" >{{ 'Observation date' | t }}: {{document.event_date.split('T')[0]}}</p>
        <p ng-if="document.placename">{{ 'Placename' | t }}: {{document.placename}}</p>
        <p ng-if="document.placename_comment">{{ 'Placename comment' | t }}: {{document.placename_comment}}</p>
        <p ng-if="document.latitude" || "document.longitude"><md-icon>place</md-icon>{{ 'Location coordinates (see map above)' | t }}: [{{document.latitude}},{{document.longitude}}]</p>
        <br />
       </section>

        <section ng-if="security.hasSystem(resource.path)">
        <h3>{{ 'Photos' | t }}</h3>
          <md-divider></md-divider>
          <div ng-repeat="file in document.files">
           <p><md-icon>file_download</md-icon> <a ng-href="{{file.uri+'?key='+key()}}">{{ file.filename}}</a> ({{ file.type }} {{ file.file_size | bytes }})</p>
          </div>
          <br />
        </section>

        <section>
        <h3>{{ "Editor's feedback" | t }}</h3>
        <md-divider></md-divider>
        <p ng-if="document.date_identified">{{ "Date identified" | t }}: {{document.date_identified.split('T')[0]}}</p>
        <p ng-if="document.editor_assessment">{{ "Editor's assessment" | t }}: {{document.editor_assessment | t}}</p>
        <p ng-if="document.editor_comment">{{ "Editor's comment" | t }}: {{document.editor_comment}}</p>
        <br />
        </section>

<!-- created updated -->
      <section>
        <npdc:document-meta></npdc:document-meta>
      </section>

    </div>
</div>

