<!DOCTYPE html>
<npdc:edit-button class="np-primary-control"></npdc:edit-button>
<npdc:loader ng-if="!document"></npdc:loader>
<leaflet ng-if="document && mapOptions.coverage" options="mapOptions" class="coverage-map"></leaflet>
<div class="np-padding">
  <div ng-if="document" class="np-doc">

    <h3>{{ 'Marine mammal sightings' | t }}</h3>

 <h1>
  <span class="md-display-2">{{ document.species }} </span><span style={font-size:15%}>
  [{{document.event_date.split('T')[0]}}]</span></h1>


      <section>
      <p ><md-icon>place</md-icon>
        {{document.research_station.charAt(0).toUpperCase() +  document.research_station.slice(1)}}</p>
        <div ng-if="document.stay_dates" ng-repeat="item in document.stay_dates">
            </p> {{ (item.start_date).split('T')[0] }} - {{ (item.end_date).split('T')[0] }}</p>
        </div>
      </section>

      <section ng-if="document.summary">
          <md-divider></md-divider>
        <h3>{{ 'Summary' | t }}</h3>

        <p marked="document.summary"></p>
      </section>


<section ng-if="document.people && document.people.length > 0">
  <h3>{{ 'People' | t }}</h3>
  <md-divider></md-divider>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="person in document.people">
      <md-icon class="md-avatar-icon">person</md-icon>
        <div class="md-list-item-text">
          <h3> {{ person.first_name }} {{ person.last_name }} {{ person.number_of_persons }} </h3>
          <p> {{ person.organisation }}&nbsp;{{ person.country }} </p>
          <p ng-if="person.roles"><span ng-repeat="r in person.roles">{{ r | t }}<span ng-if="!$last">, </span></span></p>
          <div ng-repeat="dates in person.station_dates">
           <p>{{ (dates.start_date).substr(0,10) }} - {{ (dates.end_date).substr(0,10)}}</p>
         </div>
        </div>
      </md-list-item>
    </md-list>
</section>

 <npdc:organisations></npdc:organisations>

  <!--<npdc:links links="links" ></npdc:links> -->

 <section>
  <div ng-if="links.length > 0">
    <h3>{{ 'Links' | t }}</h3>
    <md-divider></md-divider>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="link in links">
        <div class="md-list-item-text">
          <a ng-href="{{link.href}}">{{ link.title || link.href }}</a>
          <p>{{ link.rel }}</p>
        </div>
      </md-list-item>
    </md-list>
  </div>
  </section>



      <section>
        <md-divider></md-divider>
        <h3>{{ 'Classification' | t }}</h3>

        <div ng-if="document.topics">
          <h4>{{ 'Topics' | t }}</h4>
          <p>
            <md-icon>label_outline</md-icon><span ng-repeat="topic in document.topics">
              <a ng-href="?q=&filter-topics={{topic}}">{{ topic }}</a>{{!$last ? ' / ':''}}
            </span>
          </p>
        </div>


      <section ng-if="alternate">
        <md-divider></md-divider>
        <h3>{{ 'Machine-readable metadata' | t }}</h3>
        <!-- @todo CC0 for metadata? <p></p> -->
        <p>
          <div ng-repeat="link in alternate">
            <a ng-href="{{link.href}}" title="{{link.type}}">{{ link.title || link.href }}</a>
            </div>
        </p>
      </section>

<!-- created updated -->
      <section>
        <npdc:document-meta></npdc:document-meta>
      </section>

    </div>
</div>

