<!DOCTYPE html>
<npdc:edit-button class="np-primary-control"></npdc:edit-button>
<npdc:loader ng-if="!document"></npdc:loader>
<leaflet ng-if="document && mapOptions.coverage" options="mapOptions" class="coverage-map"></leaflet>
<div class="np-padding">
  <div ng-if="document" class="np-doc">

    <h3>{{ 'Marine mammal sightings' | t }}</h3>

 <h1>
  <span class="md-display-2">{{ document.species }} </span><span style={font-size:15%}>
  [{{document.event_date.split('T')[0]}}]</span></h1>


      <section>
      <p ng-if="document.created_by"><md-icon class="md-avatar-icon">person</md-icon> {{ 'Observer' | t }}: {{document.created_by}}</p>
      <p ng-if="document.organisation"><md-icon>business</md-icon> {{ 'Organisation' | t }}: {{document.organisation}}</p>
      <p ng-if="document.title">{{ 'Name travel/trip/expedition' | t }}: {{document.title}}</p>
      <p ng-if="document.platform">Platform: {{document.platform}}</p>
      <p ng-if="document.platform_comment">{{ 'Platform comment' | t }}: {{document.platform_comment}}</p>
      <p ng-if="document.start_date" || "document.end_date">{{ 'Dates' | t }}: {{(document.start_date).split('T')[0]}} - {{(document.end_date).split('T')[0]}}</p>
      <p ng-if="document.href"><a ng-href="{{document.href}}"> {{ 'Link to expedition' | t }}</a></p>
      </section>

      <section>
        <md-divider></md-divider>
        <h3>{{ 'Observation' | t }}</h3>
        <p ng-if="document.species">{{ 'Species' | t }}: {{document.species}}</p>
        <p ng-if="document.habitat">Habitat: {{document.habitat}}</p>
        <p ng-if="document.adult_m">{{ 'Number of male adults' | t }}: {{document.adult_m}}</p>
        <p ng-if="document.adult_f">{{ 'Number of female adults' | t }}: {{document.adult_f}}</p>
        <p ng-if="document.adult">{{ 'Number of adults where sex is unknown' | t }}: {{document.adult}}</p>
        <p ng-if="document.sub_adult">{{ 'Number of young adults, not included previously' | t }}: {{document.sub_adult}}</p>
        <p ng-if="document.cub_calf_pup">{{ 'Number of cubs/calfs/pups' | t }}: {{document.cub_calf_pup}}</p>
        <p ng-if="document.unidentified">{{ 'Number of unidentified' | t }}: {{document.unidentified}}</p>
        <p ng-if="document.total">{{ 'Total count' | t }}: {{document.total}}</p>
        <p ng-if="document.bear_cubs">{{ 'How old were the polar bear cubs?' | t }} {{document.bear_cubs}}</p>
        <p ng-if="document.polar_bear_condition">{{ 'What was the condition of the polar bear(s)?' | t }} {{document.polar_bear_condition}}</p>
        <p ng-if="document.polar_bear_den">{{ 'Did you see a polar bear den?' | t }} {{document.polar_bear_den}}</p>
        <p ng-if="document.dead_alive">{{ 'Observed dead or alive?' | t }} {{document.dead_alive}}</p>
        <p ng-if="document.occurrence_remarks">{{ 'Occurrence remarks' | t }}: {{document.occurrence_remarks}}</p>
      </section>

      <section>
        <md-divider></md-divider>
        <h3>{{ 'Time/location' | t }}</h3>
        <p ng-if="document.event_date" >{{ 'Observation date' | t }}: {{document.event_date.split('T')[0]}}</p>
        <p ng-if="document.placename">{{ 'Placename' | t }}: {{document.placename}}</p>
        <p ng-if="document.placename_comment">{{ 'Placename comment' | t }}: {{document.placename_comment}}</p>
        <p ng-if="document.latitude" || "document.longitude"><md-icon>place</md-icon>{{ 'Location coordinates (see map above)' | t }}: [{{document.latitude}},{{document.longitude}}]</p>
       </section>


        <section>
        <md-divider></md-divider>
         <h3>{{ "Editor's feedback" | t }}</h3>
        <p ng-if="document.date_identified">{{ "Date identified" | t }}: {{document.date_identified.split('T')[0]}}</p>
        <p ng-if="document.editor_assessment">{{ "Editor's assessment" | t }}: {{document.editor_assessment}}</p>
        <p ng-if="document.editor_comment">{{ "Editor's comment" | t }}: {{document.editor_comment}}</p>
        <br />
        </section>


     <!-- <section ng-if="alternate">
        <md-divider></md-divider>
        <h3>{{ 'Machine-readable metadata' | t }}</h3>
        <p>
          <div ng-repeat="link in alternate">
            <a ng-href="{{link.href}}" title="{{link.type}}">{{ link.title || link.href }}</a>
            </div>
        </p>
      </section> -->

<!-- created updated -->
      <section>
        <npdc:document-meta></npdc:document-meta>
      </section>

    </div>
</div>

