<article class="np-padding np-doc" layout>
  <h1 class="">{{ 'Map search' | t }}</h1>
</article>


 <!--<div ng-show="isAdmin"> -->

<article>&nbsp;&nbsp;<a href="quality_check">{{'Quality check' | t }}</a>&nbsp;&nbsp;
<!-- <a href="upload">Upload Excelsheet</a>&nbsp;&nbsp; -->
<a href="/sighting">{{ 'Back' | t }}</a>
</article>

<form id="submit" ng-submit="submit()">

<p>&nbsp;&nbsp;{{'Select an area on the map by dragging/dropping' | t }}</p>

<div id="mapid" style="height: 400px; width:" + window.innerWidth + "px;" ></div>
<br />

<!-- Search ------>



<label for="search">&nbsp;&nbsp;{{'General search' | t }}:&nbsp;&nbsp;</label><input type="text"  ng-model="search" /> {{ 'OR' | t }} <br />

<label for="species">&nbsp;&nbsp;{{'Species' | t }}: </label>
     <select ng-model="species" ng-options="item as item.eng + ' (' + item.name + ')' for item in items">
      <option value="">{{ 'Undefined' | t }} </option></select><br />

<div>
<label for="edate1">&nbsp;&nbsp;{{'Event date start' | t}}:</label> <input type="datetime" lang="en" scopeVar="edate1">
</div>
<div>
 <label for="edate2">&nbsp;&nbsp;{{'Event date end' | t}}:&nbsp;</label> <input type="datetime" lang="en" scopeVar="edate2">
</div>



<label for="lat1">&nbsp;&nbsp;{{'Latitude start' | t}}:</label> <input type="text" ng-model="lat1" size="9" >
<br />

<label for="lat2">&nbsp;&nbsp;{{'Latitude end' | t }}:&nbsp;&nbsp;</label> <input type="text" ng-model="lat2" size="9" >
<br />

<label for="lng1">&nbsp;&nbsp;{{'Longitude start' | t }}:</label><input type="text" ng-model="lng1" size="9">
<br />

<label for="lng2">&nbsp;&nbsp;{{'Longitude end' | t }}:&nbsp;</label><input type="text" ng-model="lng2" size="9" >
<br />




&nbsp;&nbsp;<input type="submit" id="submit" value="{{ 'Search' | t }}" />


&nbsp;&nbsp;<input type="reset" id="reset" value="Reset" ng-click="reset()"/>
<!-- Create CSV -->
&nbsp;&nbsp;&nbsp;&nbsp;<a href="csv">{{ 'Create CSV' | t }}</a><br /><br />



<div ng-if="dataLoading">
    {{ 'Loading...' | t }}
</div>

<p></p>

<!--Table listing part -->

  <table class="layout1" st-table="displayedCollection" st-safe-src="entries">
    <thead>
 <th>{{'Date' | t}}</th><th>{{'Species' | t }}</th><th>{{ 'Total' | t }}</th><th>{{ 'Location' | t }}</th><th>{{'Assessment' | t }}</th><th>{{'Excelfile' | t }}</th><th>{{ 'View' | t }}</th><th>{{'Edit' | t }}</th>
    </thead>
    <tbody>
   <tr ng-repeat="entry in displayedCollection" ng-cloak>
        <td>{{ (entry.event_date).substring(0,10) }}&nbsp;</td>
        <td>{{ entry.species }}&nbsp;</td>
        <td>{{entry.total}}&nbsp;</td>
        <td>{{ entry.locality }}&nbsp;</td>
        <td>{{ entry.editor_assessment }}&nbsp;</td>
        <td>{{ entry.excel_filename }}&nbsp;</td>
        <td><a href="db/{{entry.id}}" target="_blank">View&nbsp;</a></td>
         <td><a href="db/{{entry.id}}/edit" target="_blank">Edit&nbsp;</a></td>
  </tr>
</tbody>
<tfoot>
      <tr >
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="20"></div>
        {{'Total' | t }}: {{ total }}</td>
      </tr>
</tfoot>
</table>
 </form>

<!-- </div> -->  <!-- ng-show -->


<!--<div ng-show="!isAdmin">
      <p>Please <a href="/sighting">log in</a> with your admin account in order to view this page.</p>
</div> -->


