<article class="np-padding np-doc" layout>
  <h1 class="">Map search</h1>
</article>


 <!--<div ng-show="isAdmin"> -->

<article>&nbsp;&nbsp;<a href="quality_check">Quality check</a>&nbsp;&nbsp;
<a href="upload">Upload Excelsheet</a>&nbsp;&nbsp;
<a href="/sighting">Back</a>
</article>

<form id="submit" ng-submit="submit()" class="pure-form pure-form-stacked">

<p>&nbsp;&nbsp;Select an area on the map by dragging/dropping</p>

<div id="mapid" style="height: 400px"></div>
<br />

<!-- Search ------>



<div class="pure-g">
<div class="pure-u-1 pure-u-md-1-1">
<label for="species">&nbsp;&nbsp;Species: </label>
     <select ng-model="species" ng-options="item as item.eng + ' (' + item.name + ')' for item in items">
      <option value=""> Undefined </option></select>
</div>

<div class="pure-u-1 pure-u-md-1-2">
 <label for="edate1">&nbsp;&nbsp;Event date start:</label> <input type="datetime" lang="en" ng-model="edate1">
</div>

<div class="pure-u-1 pure-u-md-1-2">
 <label for="edate2">&nbsp;&nbsp;Event date end:&nbsp;</label> <input type="datetime" lang="en" ng-model="edate2">
</div>


<div class="pure-u-1 pure-u-md-1-2">
 <label for="lat1">&nbsp;&nbsp;Latitude start:</label> <input type="text" ng-model="lat1" size="7" >
</div>

<div class="pure-u-1 pure-u-md-1-2">
 <label for="lat2">&nbsp;&nbsp;Latitude end:&nbsp;&nbsp;</label> <input type="text" ng-model="lat2" size="7" >
</div>

<div class="pure-u-1 pure-u-md-1-2">
  <label for="lng1">&nbsp;&nbsp;Longitude start:</label><input type="text" ng-model="lng1" size="7">
</div>

<div class="pure-u-1 pure-u-md-1-2">
   <label for="lng2">&nbsp;&nbsp;Longitude end:&nbsp;</label><input type="text" ng-model="lng2" size="7" >
</div>


<div class="pure-u-1 pure-u-md-1-1">
&nbsp;&nbsp;<input type="submit" id="submit" value="Search" />
</div>
</div>




<div ng-if="dataLoading">
    Loading...
</div>

<p></p>

<!--Table listing part -->

  <table class="layout1" st-table="displayedCollection" st-safe-src="entries">
    <thead>
 <th>Date</th><th>Species</th><th>Total</th><th>Location</th><th>Assessment</th><th>Excelfile</th><th>View</th><th>Edit</th><th>Delete</th>
    </thead>
    <tbody>
   <tr ng-repeat="entry in displayedCollection" ng-cloak>
        <td>{{entry[0].total}}</td>
        <td>{{ (entry[0].event_date).substring(0,10) }}&nbsp;</td>
        <td>{{ entry[0].species }}&nbsp;</td>
        <td>{{ entry[0].locality }}&nbsp;</td>
        <td>{{ entry[0].editor_assessment }}&nbsp;</td>
        <td><a href="http://{{hostname}}/{{entry[0].excelfile.filename}}">{{ entry[0].excelfile.filename }}&nbsp;</td>
        <td><a href="db/{{entry[0].id}}" target="_blank">View&nbsp;</a></td>
         <td><a href="db/{{entry[0].id}}/edit" target="_blank">Edit&nbsp;</a></td>
        <td><a href="db/{{entry[0].id}}/delete" target="_blank">Delete</a></td>
  </tr>
</tbody>
<tfoot>
      <tr >
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="20"></div>
        Total: {{ total }}</td>
      </tr>
</tfoot>
</table>
 </form>

<!-- </div> -->  <!-- ng-show -->




<!--<div ng-show="!isAdmin">

      <p>Please <a href="/sighting">log in</a> with your admin account in order to view this page.</p>
</div> -->

















