

<div ng-if=!authorized>
      <p>&nbsp;&nbsp;&nbsp;Please log in with your admin account in order to view this page.</p>
      <p> &nbsp;&nbsp;&nbsp;<a href="/sighting">{{ 'Back' | t }}</a></p>
</div>




<div ng-if=authorized>

<h1><b>CSV<b></h1>
<p><a href="/sighting/administrators">{{ 'Back' | t }}</a></p>

<!--<div ng-show="isAdmin"> --> <div>

<div ng-controller="CSVController">
Id | {{ 'Date' | t }} | {{ 'Latitude' | t }} | {{ 'Longitude' | t }} | {{ 'Location' | t }} | {{ 'Location comment' | t }} | {{ 'Species' | t }} | {{ 'Adult M' | t }} | {{ 'Adult F' | t }} | {{ 'Adult' | t }} | {{ 'Subadult' | t }} | {{ 'Polar bear condition' | t }} | {{ 'Polar bear den' | t }} | {{ 'Cub/calf/pup' | t }} | {{ 'Bear cubs' | t }} | {{ 'Dead/alive' | t }} | {{ 'Unidentified' | t }} | {{ 'Total' | t }} | Habitat | {{ 'Occurrence remark' | t }} | {{ 'Excelfile' | t }} | {{ 'Expedition contact info' | t }} | {{ 'Expedition organisation' | t }} | {{ 'Platforms' | t }} | {{ 'Platform comment' | t }} | {{ 'Start date' | t }} | {{ 'End date' | t }}  | {{ 'Recorded by' | t }} | {{ 'Recorded by name' | t }} <br />

<p ng-repeat="entry in entries">
{{ entry.id }} | {{ (entry.event_date).substring(0,10) }} | {{ entry.latitude }} |
{{ entry.longitude }} | {{ entry.locality }} |{{ entry.location_comment }} |
{{ entry.species }} | {{entry.adult_m }} | {{ entry.adult_f }} | {{ entry.adult }} |
 {{ entry.sub_adult }} | {{ entry.polar_bear_condition }} |  {{ entry.polar_bear_den }} | {{ entry.cub_calf_pup}} |
 {{ entry.bear_cubs }} | {{ entry.dead_alive }} | {{ entry.unidentified }} | {{ entry.total }} | {{ entry.habitat }} | {{ entry.occurrence_remarks }} | {{entry.excel_filename}} | {{entry.contact_info}} | {{entry.organisation}} | {{entry.platform}} |
 {{entry.platform_comment}} | {{ ((entry.start_date).substring(0,10)) }} | {{ ((entry.end_date).substring(0,10)) }} | {{ entry.recorded_by }} | {{ entry.recorded_by_name }}
</p>


</div>
</div>

</div>
